<!DOCTYPE html>
<html>
  <head>
    <style>
    body{
      background-color: black;
      color : white;
    }
    </style>
    Z
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1></h1>
    <img src="/images/toast.png"/>
    <form action="" method="post">
        <select id="selectPart" name="username">
              <option value="jh8579@gmail.com"></option>"fesf"</option>
        </select>
  
      서비스 명<input type="text" name="email" >
      <button type="submit" formmethod="post">추가</button>
    </form>
    <p>Welcome to </p>
  </body>
</html>